[buildout]
extends =
    profiles/devel.cfg

[sources]
chromedriver = git https://github.com/enkidulan/chromedriver.git

[project]
resource_api_url = https://lb.api-sandbox.ea.openprocurement.org/
resource_api_version = 0
