[buildout]
extends =
	base.cfg
	sources.cfg

parts +=
	config_npm
show-picked-versions = true

[scripts]
eggs +=
	nose
	jarn.mkrelease
	penstock
	openprocurement.auction[test]

[config_npm]
recipe = metapensiero.recipe.script:shell
install =
	cd ${buildout:directory}/src/openprocurement.auction/openprocurement/auction
	npm install .
	./node_modules/.bin/bower install -y

[project]
with_couchdb_replicate =

[auctions.ini]
external_couch_url = http://localhost:${ports:1}/auction

[auction_worker_defaults.json]
AUCTIONS_URL = http://localhost:${ports:1}/tenders/{auction_id}
OAUTH_BASE_URL = http://localhost:${ports:3}/api/
OAUTH_REQUEST_TOKEN_URL =
OAUTH_ACCESS_TOKEN_URL = http://localhost:${ports:3}/oauth/token
OAUTH_AUTHORIZE_URL = http://localhost:${ports:3}/oauth/authorize
WORKER_BIND_IP = localhost

[project]
tenders_api_url = http://127.0.0.1:6543/
tenders_api_version = 2.3
tenders_api_token = auction
with_penstock =
with_data_bridge =
with_chronograph = 1
# sentinels_list = []
worker_sandbox_mode = 1

[auctions_chronograph.yaml]
use_consul = False
